/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
@import url('https://fonts.googleapis.com/css2?family=Syncopate&display=swap');

body {
  background: #FFF3E8;
}

h3 {
  color: black;
  font-family: 'Syncopate', sans-serif;
  text-align: left;
}

h4 {
  color: black;
}

.logo {
  fill: yellow;
}

nav ul a,
nav .brand-logo {
  color: #444;
}

.nav-wrapper {
  background-color: #FFF3E8;
}

#logo-container {
  text-transform: uppercase;
}

.highlights {
  color: #F05A4A;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #334B35;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
  background-color: #334B35;
}

#hamburger {
  /*background-color: #F05A4A;*/
  position: absolute; /* Ensure positioning works within a container */
  top: 35%; /* Center vertically if necessary */
  transform: translateY(-50%); /* Adjust centering effect */
  right: 0; /* Stick to the right edge */
  padding: 10px;
}

.nav-wrapper {
  width: 100%;
}
