/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
@import url('https://fonts.googleapis.com/css2?family=Syncopate&display=swap');

body {
  background: #FFF3E8;
}

h3 {
  color: black;
  font-family: 'Syncopate', sans-serif;
  text-align: left;
}

h4 {
  color: black;
}

.logo {
  fill: yellow;
}

nav ul a,
nav .brand-logo {
  color: #444;
}

.nav-wrapper {
  background-color: #FFF3E8;
}

#logo-container {
  text-transform: uppercase;
}

.highlights {
  color: #F05A4A;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #334B35;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
  background-color: #334B35;
}


/*************  navigation *************/
  #hamburger {
    /*background-color: #F05A4A;*/
    position: absolute; /* Ensure positioning works within a container */
    top: 35%; /* Center vertically if necessary */
    transform: translateY(-50%); /* Adjust centering effect */
    right: 0; /* Stick to the right edge */
    padding: 10px;
  }

  .nav-wrapper {
    width: 100%;
  }

  .sidenav {
    right: 0%; /* sollte eigentlich nach rechts bewegen, aber es kommt immer der element.style, transform: transformX(0%), wieso?*/
  }

/********** custom colors **************/
  @media (max-width: 768px) {
    .welcome_screen {
      /*to color background*/
        background-size: 100% 100%;
        background-position: 0px 0px,0px 0px;
        background-image: radial-gradient(59% 40% at 114% 39%, #FF5A0000 1%, #FF5A00FF 4%, #FF000000 99%),radial-gradient(50% 50% at 11% 84%, #F2826BFF 0%, #FFF3E8 100%);
      height: 100vh; /*vh = viewport height*/
    }
  }

  .green_block {
    width: 100%;
    padding: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #334B35;
    h3, h4 {
    color: #FFF3E8
    }
  }



  .container {
    width: 100%;
    margin: 0;
    padding: 0;
  } 

  .section {
    width: 100%;
    margin: 0;
    padding: 0;
  }

